@use 'fonts';

$primary-color: #CFC4B2;
$secondary-color: #2D2D2D;
$accent-color: #DA5A2E;
$body-text-color: #2D2D2D;
$heading-font-family: 'Recoleta', Georgia, serif;
$body-font-family: 'Recoleta', Georgia, serif;
$alt-body-font-family: 'Poppins', Georgia, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;