@use "../abstracts" as a;

#main-header {
  margin: 3rem auto 1rem auto;
  max-width: 1200px;
  position: relative;

  #logo-link {
    pointer-events: none;
    touch-action: none;
  }

  #initials {
    pointer-events: auto;
    touch-action: auto;
  }

  #full-name {
    pointer-events: none;
    touch-action: none;
  }
  
  .logo-container {
    position: relative;
    width: 10rem;
    
    .logo {
      height: 4rem;
      display: block;
      width: fit-content;
      position: relative;

      .logo-letter {
        fill: a.$secondary-color;
      }

      #b-initial path {
        opacity: 1;
      }
      
      #full-name path {
        opacity: 0;
      }
    }
  }

  #hamburger-menu {
    width: 2.25rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div {
      height: 0.15rem;
      background-color: a.$secondary-color;
      position: relative;
      transition: all 0.3s ease;
      border-radius: 1rem;
    }

    #line1 {
      width: 1.75rem; 
    }

    #line2 {
      width: 2.5rem;
    }

    #line3 {
      width: 1.75rem;
    }

    &.activate {
      #line1, #line2, #line3 {
        position: absolute;
        width: 2.25rem;
        top: 50%;
        left: 0;
        margin: 0;
        background-color: white;
      }
      
      #line1 {
        transform: translateY(-50%) rotate(45deg);
      }

      #line2 {
        transform: translateY(-50%) scaleX(0);
        opacity: 0;
      }

      #line3 {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  #main-nav {
    display: none;
    animation: slideIn 300ms ease-in-out;
    height: 100vh;
    position: fixed;
    background-color: a.$secondary-color;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: 5px solid white;

    &.show {
      @include a.center;
      text-align: center;
      flex-direction: column;
      gap: 2rem;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;

      .menu-item {
        animation: fadeIn 0.5s ease-in-out forwards;
        opacity: 0;

        &:nth-of-type(1) {
          animation-delay: 0.2s;
        }

        &:nth-of-type(2) {
          animation-delay: 0.3s;
        }

        &:nth-of-type(3) {
          animation-delay: 0.4s;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    ul li.active::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4rem;
      height: 4rem;
      background-color: var(--dot-color, #DA5C31); 
      border-radius: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    li:not(#menu-dot) {
      margin: 1rem;
      position: relative;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 3rem;
    }

    #resume-button {
      position: absolute;
      left: 7.5%;
      top: 6%;
      width: 4rem;
      height: 4rem;
      animation: fadeIn 0.5s ease-in;

      svg {
        padding: 0.75rem;
        background-color: var(--dot-color, #DA5C31); 
        border-radius: 5rem;
        border: none;
        font-size: 2.5rem;
        color: white;
        font-family: a.$heading-font-family;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    @keyframes slideIn {

      0% {
        width: 0;
      }

      100% {
        width: 100%;
      }
    }

    @keyframes fadeIn {
      
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    #menu-dot {
      background-color: var(--dot-color, #DA5C31) !important;
    }

    #resume-button {
      position: absolute;
      left: 7.5%;
      top: 6%;
      width: 4rem;
      height: 4rem;
      animation: fadeIn 0.5s ease-in;

      svg {
        padding: 0.75rem;
        background-color: var(--dot-color, #DA5C31); 
        border-radius: 5rem;
        border: none;
        font-size: 2.5rem;
        color: white;
        font-family: a.$heading-font-family;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media screen and (min-width: 768px) {

  #main-header {
    margin-bottom: 1.5rem;

    #hamburger-menu {
      right: 3rem;
    }

    #main-nav {
      #resume-button {
        top: 7%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto 2rem auto;

    #logo-link {
      pointer-events: all;
    }

    #hamburger-menu {
      display: none;
    }

    .logo-container {
      width: 100%;  // Restore full width on desktop
    }

    #main-nav {
      @include a.center;
      position: relative;
      height: auto;
      background-color: transparent;
      border-left: none;
      animation: none;
      gap: 3rem;

      &.show {
        display: block;
      }

      ul {
        flex-direction: row;
        margin: 0;
      }

      ul li.active::before {
        display: none;
      }

      li:not(#menu-dot) {
        margin: 0rem;
        margin-left: 4rem;
      }

      a {
        font-size: 1.6rem;
        display: block;
        color: a.$secondary-color;
      }

      .menu-item {
        animation: none;
        opacity: 1;
      }

      #menu-dot {
        position: absolute;
        bottom: -0.5rem;
        width: 0.75rem;
        height: 0.75rem;
        background-color: var(--dot-color, #DA5C31); 
        border-radius: 50%;
        transition: left 0.3s ease;
        left: calc(16.66% + 1.7rem);
        transform: translateX(-50%);
      }

      ul li.active ~ #menu-dot {
        left: calc(16.66% + 0.5rem);
      }

      ul li:nth-child(2).active ~ #menu-dot {
        left: calc(40% + 1rem);
      }

      ul li:nth-child(3).active ~ #menu-dot {
        left: calc(65% + 1.5rem);
      }

      ul li:nth-child(1):hover ~ #menu-dot {
        left: calc(16.66% + 0.5rem);
      }

      ul li:nth-child(2):hover ~ #menu-dot {
        left: calc(40% + 1rem);
      }

      ul li:nth-child(3):hover ~ #menu-dot {
        left: calc(65% + 1.5rem);
      }

      #resume-button {
        position: relative;
        left: 0;
        top: 0;
        margin-left: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        animation: none;
        
        &::before {
          content: '';
          width: 3.5rem;
          height: 3.5rem;
          position: absolute;
          inset: 0;
          background-color: var(--dot-color, #DA5C31); 
          border-radius: 50%;
          transition: width 0.3s ease,height 0.3s ease, left 0.3s ease, top 0.3s ease;
        }
      
        svg {
          position: relative;
          background-color: transparent;
          width: 100%;
          height: 100%;
          padding: 0.75rem;
          fill: white;
          z-index: 1;
          transition: all 0.3s ease;
        }
      
        &:hover {
          &::before {
            width: 0.75rem;
            height: 0.75rem;
            left: -0.5rem;
            top: 39%;
          }
          
          svg {
            fill: a.$secondary-color;
          }
        }
      }
    }
  }
}
