@use '../abstracts' as a;

.dot-hue-slider {
    width: 3rem;
    height: 3rem;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 7.5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.75rem;
    @include a.center;
    flex-direction: column;
    position: fixed;
    bottom: 1%;
    left: 1%;
    z-index: 2;
    overflow: hidden;
    transition: height 300ms ease-in-out;

    .slider-con {
        transform: rotate(-90deg);
        @include a.center;

        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: pointer;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1rem;
            transform-origin: bottom left;
            transition: width 300ms ease-in-out, height 50ms;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            border-radius: 0.5rem;
            background-color: transparent;
            height: 100%;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            background-color: a.$dot-color;
            border-radius: 50%;
            height: 1.5rem;
            width: 1.5rem;
        }

        input[type="range"]::-moz-range-track {
            border-radius: 0.5rem;
            background-color: transparent;
            height: 100%;
        }

        input[type="range"]::-moz-range-thumb {
            -webkit-appearance: none;
            appearance: none;
            background-color: a.$dot-color;
            border-radius: 50%;
            height: 1.5rem;
            width: 1.5rem;
            border: none;
        }
    }

    &.expanded,
    &:hover {
        height: 12rem;
        transition: height 300ms ease-in-out;

        .slider-con input[type="range"] {
            width: 10rem;
            height: 0.1rem;
        }

        .slider-con input[type="range"]::-webkit-slider-runnable-track {
            background-color: a.$dot-color;
        }

        .slider-con input[type="range"]::-moz-range-track {
            background-color: a.$dot-color;
        }
    }
}

@media screen and (min-width: 768px) {
    .dot-hue-slider {
        left: 2%;
        bottom: 2%;
    }
}

@media screen and (min-width: 1200px) {
    .dot-hue-slider {
        bottom: 3%;
    }
}
