@use '../abstracts' as a;

.dot-hue-slider {
    width: 4rem;
    height: 4rem;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 7.5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
    @include a.center;
    flex-direction: column;
    position: fixed;
    bottom: 1.5%;
    left: 2.5%;
    z-index: 2;
    overflow: hidden;
    transition: height 300ms ease-in-out;
    will-change: height;

    .slider-con {
        transform: rotate(-90deg);
        @include a.center;
        transform-style: preserve-3d;
        backface-visibility: hidden;

        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 1rem;
            transform-origin: bottom left;
            transition: all 300ms ease-in-out;
            pointer-events: none;
            position: relative;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            border-radius: 0.5rem;
            background-color: a.$body-text-color;
            height: 0.1rem;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            background-color: a.$dot-color;
            border-radius: 50%;
            height: 1.75rem;
            width: 1.75rem;
            border: none;
            position: relative;
            z-index: 2;
            margin-top: -0.85rem;
        }

        input[type="range"]::-moz-range-track {
            border-radius: 0.5rem;
            background-color: a.$body-text-color;
            height: 0.1rem;
        }

        input[type="range"]::-moz-range-thumb {
            background-color: a.$dot-color;
            border-radius: 50%;
            height: 1.75rem;
            width: 1.75rem;
            border: none;
        }
    }

    &.expanded {
        height: 13rem;

        .slider-con input[type="range"] {
            width: 10rem;
            height: 0.1rem;
            pointer-events: auto;
        }

    }
}

@media screen and (min-width: 768px) {
    .dot-hue-slider {
        left: 2%;
        bottom: 2%;
    }
}

@media screen and (min-width: 1200px) {
    .dot-hue-slider {
        bottom: 3%;
        width: 3.5rem;
        height: 3.5rem;

        .slider-con {
            transform: rotate(-90deg) translateZ(0);
            @include a.center;
    
            input[type="range"] {
                pointer-events: auto;
            }

            input[type="range"] {
                height: 1.5rem;
                width: 1.5rem;
            }
    
            input[type="range"]::-webkit-slider-thumb {
                height: 1.5rem;
                width: 1.5rem;
                margin-top: -0.7rem;
            }
    
            input[type="range"]::-moz-range-thumb {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
        
        &:hover {
            height: 12.5rem;
    
            .slider-con input[type="range"] {
                width: 10rem;
                height: 0.1rem;
            }
    
        }
    }
}