@use '../abstracts' as a;

.dot-hue-slider {
    width: 3rem;
    height: 5rem;
    transform-origin: bottom;
    border: 2px solid var(--dot-color, #DA5C31); 
    border-radius: 5rem;
    @include a.center;
    flex-direction: column;
    position: fixed;
    bottom: 1.5%;
    left: 2.5%;
    z-index: 2;
    transition: height 300ms ease-in-out;
    will-change: height;

    .slider-con {
        transform: rotate(-90deg);
        @include a.center;
        transform-style: preserve-3d;
        backface-visibility: hidden;

        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            height: 1.15rem;
            width: 1.15rem;
            border-radius: 1rem;
            transform-origin: bottom left;
            transition: all 300ms ease-in-out;
            pointer-events: none;
            position: relative;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            border-radius: 0.5rem;
            height: 0.05rem;
            background: rgba(a.$secondary-color, 0.8);
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            background-color: var(--dot-color, #DA5C31);
            border-radius: 50%;
            height: 1.15rem;
            width: 1.15rem;
            border: none;
            position: relative;
            margin-top: -0.5rem;
            z-index: 2;
        }

        input[type="range"]::-moz-range-track {
            border-radius: 0.5rem;
            height: 0.05rem;
            background: rgba(a.$secondary-color, 0.8);
        }

        input[type="range"]::-moz-range-thumb {
            background-color: var(--dot-color, #DA5C31);
            border-radius: 50%;
            height: 1.15rem;
            width: 1.15rem;
            border: none;
            position: relative;
            z-index: 2;
        }
    }

    input[type="range"]::-webkit-slider-thumb {
        margin-top: 0;
    }

    &.expanded {
        height: 12rem;
        width: 3rem;

        .slider-con input[type="range"] {
            width: 9.25rem;
            height: 0.1rem;
            pointer-events: auto;

            &::-webkit-slider-runnable-track, &::-moz-range-track {
                animation: fadeIn 300ms ease-in-out;
            }
        }

        input[type="range"]::-moz-range-thumb {
            transform: translateX(0%);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .dot-hue-slider {
        left: 2%;
        bottom: 2%;
    }
}

@media screen and (min-width: 1200px) {
    .dot-hue-slider {
        bottom: 3%;

        .slider-con {
            transform: rotate(-90deg) translateZ(0);
            @include a.center;
    
            input[type="range"] {
                pointer-events: auto;
            }
        }
        
        &:hover {
            height: 12rem;
            width: 3rem;
    
            .slider-con input[type="range"] {
                width: 9.25rem;
                height: 0.1rem;

                &::-webkit-slider-runnable-track, &::-moz-range-track {
                    animation: fadeIn 300ms ease-in-out;
                }
            }
    
            input[type="range"]::-moz-range-thumb {
                transform: translateX(0%);
            }
        }
    }
}