@use '../abstracts/variables' as v;

.hidden {
    display: none;
}

img, embed, object, video, picture {
    max-width: 100%; 
}
  
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    font-size: v.$base-font-size;
    font-weight: v.$base-font-weight;
    box-sizing: border-box; 
    background-color: v.$primary-color;
    scroll-behavior: smooth;
    position: relative;
    line-height: 1.5;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    opacity: 0.1; 
    z-index: -1;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.mobile-break {
    display: block;
}

body.menu-open {
    overflow: hidden;
}

.logo-dot {
    fill: v.$dot-color;
}

@media screen and (min-width: 768px) {

html, body {
    font-size: 16px;
}

.mobile-break {
    display: none;
}


}

@media screen and (min-width: 1200px) {

    html, body {
        font-size: 18px;
    }

    .desktop-break {
        display: block;
    }
    
    
    }
