@use '../abstracts' as a;

#contact-form {

    margin-top: 4rem;

    #form-text {

        text-align: center;

        h3, h4, h5 {
            margin: .75rem 0;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        h4 {
            font-size: 1.15rem;
            font-weight: 400;
        }
        
        h5 {
            font-weight: 400;
        }
    }

    #form-input {

        margin-top: 1rem;

        input[type="text"], textarea {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: .75rem;
            margin-bottom: .5rem;
            padding: .5rem 0rem .25rem 0rem;
            border: none;
            border-bottom: 1px solid a.$secondary-color;
            font-family: a.$body-font-family;
            color: a.$secondary-color;
            max-width: 100%;
            background-color: transparent;
        }
        
        textarea {
            height: 5rem;
            padding: .35rem 0rem 0rem 0rem;
        }
        
        input[type="submit"] {
            background-color: a.$secondary-color;
            color: white;
            border-color: a.$secondary-color;
            font-family: a.$body-font-family;
            padding: .4rem 1.5rem;
            border: none;
            font-size: .75rem;
            margin-bottom: 5rem;
        }

        input:focus, textarea:focus {
            outline: none;
        }

    }
}

#ball-con {
    position: relative;

    #ball-path {
        position: absolute;
        margin-bottom: -1rem;
    }

    #ball-background {
        margin-bottom: -1rem;
    }

    #ball {
        position: absolute;
        width: 5rem;
        height: 5rem;
        background: a.$dot-color;
        border-radius: 50%;
        top: -4.5rem;
        right: 0;
    }
}


@media screen and (min-width: 768px) {

    #contact-form {

        margin-top: 7rem;

        #form-text {
            
            h3 {
                font-size: 1.5rem;
            }

            h4 {
                font-size: 1.3rem;
            }

            h5 {
                font-size: 1.1rem;
            }
        }

        #form-input {
            input[type="text"], textarea {
                font-size: 1rem;
                margin-bottom: .75rem;
                margin-top: 1rem;
                border-bottom: 1.75px solid a.$secondary-color;
            }

            input[type="submit"] {
                font-size: 1rem;
                padding: .5rem 2.25rem;
            }
        }
    }
}


@media screen and (min-width: 1200px) {

    #contact-form {

        margin-top: 10rem;

        #form-text {
            
            h3 {
                font-size: 1.75rem;
            }

            h4 {
                font-size: 1.5rem;
            }

            h5 {
                font-size: 1.35rem;
            }
        }

        #form-input {
            input[type="text"], textarea {
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }

            input[type="submit"] {
                font-size: 1.1rem;
                padding: .5rem 2.25rem;
            }
        }
    }

}
