@use '../abstracts' as a;

#contact-form {

    margin-top: 4rem;

    #form-text {

        text-align: center;

        h3, h4, h5 {
            margin: .75rem 0;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        h4 {
            font-size: 1.15rem;
            font-weight: 400;
        }
        
        h5 {
            font-weight: 300;
        }
    }

    #form-input {

        margin-top: 1rem;

        input[type="text"], textarea {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: .75rem;
            margin-bottom: .5rem;
            padding: .5rem 0rem .25rem 0rem;
            border: none;
            border-bottom: 1px solid a.$secondary-color;
            font-family: a.$body-font-family;
            color: a.$secondary-color;
            max-width: 100%;
            background-color: transparent;
        }
        
        textarea {
            height: 5rem;
            padding: .35rem 0rem 0rem 0rem;
        }
        
        input[type="submit"] {
            background-color: a.$secondary-color;
            color: white;
            border-color: a.$secondary-color;
            font-family: a.$body-font-family;
            padding: .4rem 1.5rem;
            border: none;
            font-size: .75rem;
            margin-bottom: 5rem;
            margin-top: 1rem;

            &:active {
                transform: translateY(1px);
            }
        }

        input:focus, textarea:focus {
            outline: none;
        }

    }
}

#thank-you-popup {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    height: fit-content;
    background-color: a.$secondary-color;
    @include a.center;
    flex-direction: column;
    text-align: center;
    color: white;
    z-index: 100;
    border-radius: 1rem;
    padding: 2rem;

    &.hidden {
        display: none;
    }

    #popup-heading {
        @include a.center;
        width: 100%;
        text-align: center;
        gap: 2rem;
        margin-bottom: 1rem;

        h2 {
            font-weight: 400;
            font-size: 1.25rem;
            margin: 0;
            line-height: 1.2;

            span {
                font-weight: 600;
                font-size: 2rem;
            }
        }

        svg {
            width: 3rem;

            &:nth-of-type(1) {
                transform: scaleX(-1);
            }
        }
    }

    p {
        font-weight: 300;
    }

    #close-popup {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 2rem;
        margin-top: 1rem;
    }
}


#ball-con {
    position: relative;

    #ball-path {
        position: absolute;
        margin-bottom: -1rem;
    }

    #ball-background {
        margin-bottom: -1rem;
    }

    #ball {
        position: absolute;
        width: 5rem;
        height: 5rem;
        background: a.$dot-color;
        border-radius: 50%;
        top: -4.5rem;
        right: 0;
    }
}


@media screen and (min-width: 768px) {

    #contact-form {

        margin-top: 7rem;

        #form-text {
            
            h3 {
                font-size: 1.5rem;
            }

            h4 {
                font-size: 1.3rem;
            }

            h5 {
                font-size: 1.1rem;
            }
        }

        #form-input {
            input[type="text"], textarea {
                font-size: 1rem;
                margin-bottom: .75rem;
                margin-top: 1rem;
                border-bottom: 1.75px solid a.$secondary-color;
            }

            input[type="submit"] {
                font-size: 1rem;
                padding: .5rem 2.25rem;
            }
        }
    }

    #thank-you-popup {
        padding: 3rem;
        top: 15%;
    
        #popup-heading {
            gap: 3rem;
    
            h2 {
                font-size: 1.75rem;
    
                span {
                    font-size: 3rem;
                }
            }
    
            svg {
                width: 5rem;
            }
        }
    
        p {
            font-size: 1.5rem;
            width: 85%;
        }
    
    }
    
}


@media screen and (min-width: 1200px) {

    #contact-form {

        margin-top: 10rem;

        #form-text {
            
            h3 {
                font-size: 1.75rem;
            }

            h4 {
                font-size: 1.5rem;
            }

            h5 {
                font-size: 1.35rem;
            }
        }

        #form-input {
            input[type="text"], textarea {
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }

            input[type="submit"] {
                font-size: 1.1rem;
                padding: .5rem 2.25rem;

                &:hover {
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }

    
    #thank-you-popup {
        padding: 4rem;
        top: 20%;
    
        #popup-heading {
            gap: 3rem;
            margin-bottom: 2rem;
    
            h2 {
                font-size: 2.25rem;
    
                span {
                    font-size: 3.5rem;
                }
            }
    
            svg {
                width: 6rem;
            }
        }
    
        p {
            font-size: 1.75rem;
            width: 95%;
        }
    
    }

}
