@use '../abstracts' as a;

#case-study-con {

    margin-bottom: 3rem;
    position: relative;

    #case-study-title {

        text-align: center;

        h2 {
            font-size: 5rem;
            margin: 0;
            margin-top: 6rem;
        }

        p {
            font-size: 1.5rem;
            margin: 0;
            font-weight: a.$base-font-weight;
        }
    }

    #case-study-text {

        max-width: none;
        margin-top: -1rem;

        .study-card {
            color: white;
            padding: 1.5rem;
            border-radius: 1.25rem;
            max-height: auto;
            margin-top: 5rem;
            text-align: left;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                border-radius: .75rem;
                margin-bottom: 1rem;
            }

            h3 {
                font-size: 2rem;
                margin: -0.5rem 0 .25rem 0;
            }

            p {
                margin: 0;
                margin-top: .25rem;
                font-weight: 300;
                width: 95%;

                b {
                    font-weight: 500;
                }
            }
        }

    }
}

#final-product-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    a {
        all: unset;
        text-decoration: underline;
        position: relative;
    }

    a[href=""] {
        display: none;
    }
}


#other-projects {
    margin: 3rem auto;
    width: 100%;
    max-width: none;

    ul {
        color: a.$secondary-color;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 1.5rem;

        li {
            list-style-type: none;
            font-size: 1.5rem;
            position: relative;
            margin: 0 1rem 1rem 1rem;

            a {
                all: unset;
            }
        }
    }
}


#scroll-line-container {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    transform: translateX(-50%);
    background-color: a.$secondary-color;
    z-index: 0;
}

#scroll-ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: a.$dot-color;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

@media screen and (min-width: 768px) {
    
    #case-study-con {

        #case-study-title {

            margin-bottom: 1rem;

            h2 {
                font-size: 5.5rem;
                margin-top: 7rem;
            }
    
            p {
                font-size: 1.75rem;
            }
        }
    
        #case-study-text {
    
            padding: 0 3rem;

            .study-card {

                padding: 1.75rem;
    
                h3 {
                    font-size: 2.25rem;
                }
    
                p {
                    font-size: 1.15rem;
                }
            }
    
        }
    }

    #other-projects {
        margin: 5rem auto;
        ul {
            li {
                font-size: 2rem;
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    #case-study-con {

        #case-study-title {

            margin-bottom: 2rem;

            h2 {
                font-size: 6rem;
                margin-top: 8rem;
            }
    
            p {
                font-size: 2rem;
            }
        }
    
    
        #case-study-text {
    
            max-width: 1200px;

            .study-card {

                padding: 1.75rem;
    
                h3 {
                    font-size: 2.4rem;
                }
    
                p {
                    font-size: 1.25rem;
                }
            }
    
        }
    }

    #final-product-heading {
    
        a {
            text-decoration: none;

            &::after {
                content: ''; 
                position: absolute;
                left: 0;
                bottom: 10%;
                width: 100%;
                height: 1.5px; 
                background-color: #fff;
                transition: width 0.15s ease-in-out;
            }
            
            &:hover::after {
                width: 0%;
            }
        }
    
    }

    #other-projects {

        max-width: 1200px;

        ul {
            margin: 0;
            li {
                font-size: 2rem;
                margin: 0;

                a {

                    &::after {
                        content: ''; 
                        position: absolute;
                        left: 0;
                        bottom: 0%;
                        width: 0;
                        height: 2px; 
                        background-color: a.$secondary-color;
                        transition: width 0.3s ease-in-out;
                    }
                    
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}