@use '../abstracts' as a;

#intro-con {

    margin-top: 4rem;
    max-width: 1200px;
 
    #intro-flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 4rem;
    }

    #line-seperator {
        border-left: 2px solid a.$secondary-color;
        position: relative;
        height: 10rem;
        margin: 2rem 1rem;
        flex-shrink: 0;

        #seperator-ball {
            content: '';
            position: absolute;
            width: 1rem;
            height: 1rem;
            margin-left: -1px;
            border-radius: 50%;
            top: 0%;
            transform: translate(-50%, -50%);
            background-color: var(--dot-color, #DA5C31); 
        }

    }

    #welcome {
        font-size: 2.5rem;
        text-align: left;
        width: 100%;
        margin: 0;

        span {
            font-weight: 600;
            transition: color 150ms ease;

            &:nth-of-type(1) {
                position: relative;
                color: var(--dot-color, #DA5C31); 

                a {
                    all: unset;
                }

                &::after {
                    content: ''; 
                    position: absolute;
                    left: 0;
                    bottom: 5%;
                    width: 0;
                    height: 2px; 
                    background-color: currentColor;
                    transition: width 0.3s ease-in-out;
                }
                
                &:hover::after {
                    width: 100%;
                }
            }

            &:nth-of-type(2) {
                color: a.$secondary-color;
            }
        }
    }
}

#projects-con {

    margin-bottom: 5rem;
    max-width: 1200px;

    h2 {
        font-size: 2.5rem;
        text-align: left;
        margin-top: 4rem;
        margin-bottom: 0rem;
        color: a.$secondary-color;
    }

    .project-card {
        margin-top: 1rem;
        color: white;
        padding: 1.75rem;
        border-radius: 1.5rem;
        height: 12rem;
        overflow: hidden;
        position: relative;
        text-decoration: none;
    
        &:nth-child(2) {
            height: 25rem;

            .project-image {
                height: 75vw;
                top: -10%;
                right: -30%;
                max-height: 20rem;
            }
        }

        &:nth-child(3) {
            height: 25rem;

            .project-image {
                height: 80vw;
                top: -10%;
                right: -30%;
                max-height: 23rem;
            }
        }

        &:nth-child(4) {

            .project-image {
                top: -15%;
                right: -5%;
            }
        }

        
        &:nth-child(5) {

            .project-image {
                top: -15%;
                right: -5%;
            }
        }


        &:nth-child(7) {

            .project-image {
                top: -30%;
                right: -10%;
            }
        }
        
        .project-image {
            position: fixed;
            transform-origin: center;
            top: -20%;
            right: -10%;
            display: flex;
            height: 35vw;
            align-items: center;
            justify-content: center;
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
            -webkit-transition: 300ms -webkit-filter linear;
            -moz-transition: 300ms -moz-filter linear;
            -moz-transition: 300ms filter linear;
            -ms-transition: 300ms -ms-filter linear;
            -o-transition: 300ms -o-filter linear;
            transition: 300ms filter linear, 300ms -webkit-filter linear;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                position: relative;
                filter: brightness(0) invert(1);
                transition: all 300ms ease-in-out;
                transform: scale(1);
            }
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: black;
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
        }
    
        &:hover {
            &::before {
                opacity: 0.1; 
            }
        }

        &:hover .project-image {
            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
            
            img {
                transform: scale(0.95);
            }
        }

        // &:hover {
        //     .project-text h3, .project-text p {
        //         opacity: 0;
        //     }
        // }

        .project-text {
            position: absolute;
            bottom: 1rem;
            left: 2rem;
            text-align: left;
            line-height: 2.75rem;
            z-index: 1;
  
            h3 {
                font-size: 2.25rem;
                margin: 0;
                color: white;
            }

            p {
                font-size: 1.4rem;
                margin: 0;
                color: white;
            }
        }
    }
}

@media screen and (min-width: 600px) {

    #projects-con {

        .project-card {
            
            &:nth-child(2) {

                .project-image {
                    right: -20%;
                    max-height: 30rem;
                }
            }
    
            &:nth-child(3) {

                .project-image {
                    right: -20%;
                    max-height: 30rem;
                }
            }

            &:nth-child(5) {

                .project-image {
                    top: -30%;
                    right: -5%;
                }
            }
        }
    }

}

@media screen and (min-width: 768px) {

    #intro-con {
        margin-top: 5rem;
    }

    #projects-con {

        .project-card {

            height: 15rem;
            padding: 1.4rem;
            border-radius: 1rem;
            display: grid;
            grid-column: span 6;

            &:nth-child(2), &:nth-child(3) {
                grid-column: 1 / -1;
                width: 100%;
                height: 15rem;

                .project-image {
                    height: min(60vw, 1200px);
                    top: -60%;
                    right: -10rem;
                    max-height: 30rem;
                }
            }
            
            .project-image {
                height: min(25vw, 1200px);
                border-radius: 1rem;
                top: -40%;
                right: -4rem;
                max-height: 19rem;
            }

            .project-text {
                line-height: 2.25rem;
    
                h3 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1.2rem;
                }

            }
        }
    }
}

@media screen and (min-width: 1200px) {

    #intro-con {

        #welcome {
            font-size: 2.5rem;
        }
    }

    #projects-con {

        transition: all 0.25s ease-in-out;

        h2 {
            margin: 5rem 0 0rem 0;
        }

        .project-card {

            padding: 1.75rem;
            transition: height 0.25s ease-in-out;

            .project-image {
                transition: all 0.25s ease-in-out;
                height: 15rem;
                top: -40%;
                right: -20%;
            }

            &:nth-child(2) {

                .project-image {
                    height: 30rem;
                    top: -50%;
                    right: -10%;
                }
            }

            &:nth-child(3) {
                .project-image {
                    height: 30rem;
                    top: -65%;
                    right: -10%;
                }
            }

            &:nth-child(4) {

                .project-image {
                    top: -30%;
                    right: -5%;
                }
            }

            
            &:nth-child(5) {

                .project-image {
                    top: -40%;
                    right: -5%;
                }
            }

            &:nth-child(7) {

                .project-image {
                    top: -30%;
                    right: -15%;
                }
            }

            .project-text {

                line-height: 3rem;


                h3 {
                    font-size: 2.5rem;
                    transition: opacity 0.3s ease-in-out;
                }
        
                p {
                    font-size: 1.5rem;
                    transition: opacity 0.3s ease-in-out;
                }

            }
       
        }
    }
}